.loading-container-grid{
    height: inherit;
    overflow: hidden;
 }

 .calendar-container{
    margin-bottom: 20px;

    .date-picker-slider{
        .slick-prev{
            left: -3px;
            z-index: 99;

            &::before{
                color: darkgrey;
                opacity: 1;
                font-size: 23px;
                /* background-color: white; */
            }
        }
        .slick-next{
            right: -3px;
            z-index: 99;
 
            &::before{
                color: darkgrey;
                opacity: 1;
                font-size: 25px;
                /* background-color: white; */
            }
        }
    }

    .day-card{
        border: 1px solid #CCCCCC;
        border-radius: 8px;
        min-width: 60px;
        min-height: 60px;
        color: #17191B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;
        transition-duration: 0.3s ;

        &:hover{
            background-color: #1677ff;
            color: white;
            border: none;
            box-shadow: none;
        }
      }

      .day-card.active{
        background-color: #1677ff;
        color: white;
        border: none;
        box-shadow: none;
      }
  }

  .cursor-pointer{
    cursor: pointer;
  }

  .v-h-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }